:root{
    --pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --veryDarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: var(--veryPaleCyan);
    background-image: url('./images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 40%;
    height: 40%;
}
nav button{
    border: none;
    color: var(--veryDarkCyan);
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    font-weight: 700;
    box-shadow: 1px 2px 3px var(--grayishBlue);
}

button:hover{
    cursor: pointer;
    opacity: 0.5;
}

header h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}

header p{
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color:var(--grayishBlue)
}

.free{
    border: none;
    background-color: var(--pink);
    color: white;
    border-radius: 1rem;
    padding: 0.7rem 2rem;
    width: 70%;
    display: block;
    margin: 2rem auto;
}

.mockup{
    width: 90%;
    height: 90%;
    display: block;
    margin: 4rem auto auto;
}

.details{
    background-color: rgb(252, 249, 249);
    padding: 3rem 0 10rem;
}

.container{
    width: 90%;
    box-shadow: 1px 2px 3px grey;
    background-color: white;
    margin: auto auto 3rem;
    border-radius: 1rem;
    padding: 3rem 2rem;
}

.container img{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}

h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container p{
    text-align: center;
    font-size: 1rem;
    color: var(--grayishBlue);
    line-height: 1.5;
}

.ready{
    width: 90%;
    right: 0;
    left: 0;
    margin: -5rem auto auto;
    box-shadow: 1px 2px 3px grey;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    position: absolute;    
}

.ready button{
    box-shadow: 1px 2px 3px grey;
}

h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

footer{
    background-color: var(--veryDarkCyan);
    padding: 8rem 1rem 2rem;
    color: var(--grayishBlue);
    font-weight: 600;
}

.footer-logo{
    width: 50%;
    height: 50%;
    margin: 2rem auto;
}

.footer-dates{
    display: flex;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.footer-dates p{
    margin: 0;
}

.footer-dates img{
    width: 5%;
    height: 5%;
    margin-top: 0.4rem;
}

ul{
    list-style: none;
    line-height: 3;
    padding: 0;
    font-size: 1.1rem;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.social div{
    padding: 0.2rem;
    border-radius: 50%;
    border: solid 2px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social div:hover{
    color: var(--pink);
    cursor: pointer;
}

.copy{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}
 
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:650px) {
    nav img{
        width: 15%;
        height: 15%;
    }

    nav{
        margin-bottom: 2rem;
    }
    
    header{
        background-image: url('./images/bg-hero-desktop.svg');
    }

    .header-main{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    header p{
        font-size: 0.8rem;
    }

    .header-main div{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-main img{
        width: 40%;
        height: 40%;
        margin: 0;
    }

    .flex{
        display: flex;
        justify-content:flex-end;
    }

    .container{
        gap: 3rem;
        align-items: center;
    }

    .flex-reverse{
        display: flex;
        flex-direction: row-reverse;
        justify-content:flex-start;
        
    }

    .container img{
        width: 50%;
        height: 50%;
        margin: 0;
    }

    .container div{
        width: 50%;
    }

    .container p{
        font-size: 0.8rem;
        width: 90%;
        margin: auto;
    }

    .ready{
        width: 50%;
    }

    footer{
        padding: 8rem 3rem 1rem;
    }

    .footer-logo{
        width: 20%;
        height: 20%;
    }

    .footer-main{
        display: flex;
        justify-content: space-between;
    }

    .footer-contact{
        width: 30%;
    }

    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 4rem;
        margin: 0;
        font-size: 0.7rem;
        line-height: 1.5;
        height: 5rem;
    }

    .do{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .faq{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .social{
        margin: 0;
    }

    .footer-dates{
        margin-bottom: 1rem;
    }

    .footer-dates p{
        font-size: 0.7rem;
        line-height: 1.5;
    }

    .copy{
        text-align: right;
    }

    .attribution{
        margin: 2rem auto 0;
    }

}